.loader {
  margin: 0 auto; /* Centered */
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  width: 28px;
  height: 28px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;

  &.invert {
    border-color: #ddd;
    border-top-color: var(--primary-color);
    border-left-color: var(--primary-color);
  }
  &.gutter-top {
    margin-top: 32px;
  }
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
