@mixin flexCenter($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin flex(
  $flexDirection: row,
  $justifyContent: flex-start,
  $alignItems: flex-start,
  $flexWrap: nowrap
) {
  display: flex;
  flex-direction: $flexDirection;
  flex-wrap: $flexWrap;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin textOverflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin textClamp($lineClamp: 1) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lineClamp;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin breakpointDown($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin breakpointUp($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin breakpointBetween($breakpointUp, $breakpointDown) {
  @media screen and (min-width: $breakpointUp) and (max-width: $breakpointDown) {
    @content;
  }
}
