@font-face {
  font-family: 'Sofia Pro';
  src: local('Sofia Pro'),
    url(../assets/fonts/Sofia-Pro-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Sofia Pro';
  font-weight: 300;
  src: local('Sofia Pro'),
    url(../assets/fonts/Sofia-Pro-Light.otf) format('opentype');
}

@font-face {
  font-family: 'Sofia Pro';
  font-weight: 500;
  font-style: italic;
  src: local('Sofia Pro'),
    url(../assets/fonts/Sofia-Pro-Regular-Italic.otf) format('opentype');
}

@font-face {
  font-family: 'Sofia Pro';
  font-weight: 500;
  src: local('Sofia Pro'),
    url(../assets/fonts/Sofia-Pro-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Sofia Pro';
  font-weight: 600;
  src: local('Sofia Pro'),
    url(../assets/fonts/Sofia-Pro-Semi-Bold.otf) format('opentype');
}

.h1 {
  font-size: 19px;
  font-weight: 500;
  color: var(--text-color);
}

.title {
  font-size: 17px;
  font-weight: 500;
}

.text-primary {
  font-size: 14px;
  color: var(--text-color);
  font-weight: 500;
  @include breakpointDown($md) {
    font-size: 13px;
  }
}

.text-secondary {
  font-size: 13px;
  color: var(--text-secondary);
  font-weight: 400;
  @include breakpointDown($md) {
    font-size: 12px;
  }
}
