/* Colors */
:root {
  --primary-color: #4a8f80;
  --primary-color-bold: #447565;
  --primary-color-background: #e0f4f1;
  --background-color: #fff;
  --background-secondary-color: #fff;
  --chat-box-background-color: #edf0f5;
  --input-color: #f0f1f3;
  --gray-soft: #f0f1f3;
  --gray-bold: #72808e;
  --gray-border: #ddd;
  --text-black: #001a33;
  --text-color: #001a33;
  --message-color: #001a33;
  --modal-title-color: #4a8f80;
  --link-color: #1976d2;
  --text-secondary: #808c98;
  --nav-link-hover-color: #cdece8;
  --gray-background-color: #fbfbfd;
}

/* Variables color for Dark mode */

.dark-mode {
  --background-color: #36404a;
  --background-secondary-color: #303841;
  --chat-box-background-color: #262e35;
  --input-color: #36404a;
  --gray-soft: #303841;
  --gray-bold: #e1e9f1;
  --gray-border: #4b5661;
  --text-color: #e1e9f1;
  --message-color: #eff2f7;
  --modal-title-color: #fff;
  --link-color: #4d9cea;
  --text-secondary: #929faf;
  --nav-link-hover-color: #e0f4f1;
  --gray-background-color: #4b5661;
}

/* ------------------------------------------------------- */

/* App */
$sidebar-width: 68px;
$bottom-nav-height: 57px;
$btn-border-radius: 10px;
$collapsible-bar-width: 320px;
$collapsible-bar-title-height: 52px;
$modal-sm-width: 320px;

/* ------------------------------------------------------- */

/* Breakpoints */
$sm: 500px;
$md: 1000px;
$lg: 1200px;
