/* Colors */
:root {
  --primary-color: #4a8f80;
  --primary-color-bold: #447565;
  --primary-color-background: #e0f4f1;
  --background-color: #fff;
  --background-color-light: #edf0f5;
  --gray-soft: #f0f1f3;
  --gray-bold: #72808e;
  --gray-border: #ddd;
  --text-black: #001a33;
}

/* ------------------------------------------------------- */

/* App */
$sidebar-width: 68px;
$btn-border-radius: 10px;
$collapsible-bar-width: 320px;
$collapsible-bar-title-height: 52px;

/* ------------------------------------------------------- */

/* Breakpoints */
$sm: 600px;
$md: 900px;
$lg: 1200px;
