/* Colors */
:root {
  --primary-color: #56a48a;
  --primary-color-background: rgb(86, 164, 138, 0.1);
  --background-color: #fff;
  --gray-soft: #f0f1f3;
  --gray-bold: #9da5b0;
  --gray-border: #ddd;
}

/* ------------------------------------------------------- */

/* App */
$sidebar-width: 68px;
$btn-border-radius: 10px;
$collapsible-bar-width: 280px;

/* ------------------------------------------------------- */

/* Breakpoints */
$sm: 600px;
$md: 900px;
$lg: 1200px;
