.AddRoomModal {
  background: var(--background-secondary-color);
  width: 400px;
  @include breakpointDown($sm) {
    width: $modal-sm-width;
  }

  .content {
    padding: 32px 0;
    font-size: 16px;

    > * {
      width: 100%;
      margin-bottom: 16px;
      display: block;
    }

    label {
      margin-bottom: 8px;
      font-weight: 300;
      font-size: 14px;
      color: var(--text-color);
    }

    input {
      padding: 8px 12px;
      font-weight: 300;
      font-size: 14px;
      border: 1px solid var(--gray-border);
      border-radius: 4px;
      // outline-color: var(--modal-title-color);
      outline: none;
      background-color: var(--input-color);
      color: var(--text-color);
      &::placeholder {
        color: var(--gray-bold);
      }
    }
  }

  .error {
    color: red;
    font-size: 13px;
  }

  .action {
    @include flex(row, flex-end, center);
    padding: 16px 0;
    border-top: 1px solid var(--gray-border);

    > button {
      font-size: 14px;
    }

    .btn-cancel {
      padding: 8px 12px;
      color: var(--text-color);
    }
    .btn-ok {
      padding: 8px 12px;
      background-color: var(--primary-color);
      color: #fff;
      margin-left: 8px;
      border: 1px solid var(--primary-color);
      border-radius: 4px;
    }
  }
}
