.InviteUserModal {
  background: white;
  width: 400px;

  .content {
    position: relative;
    padding: 32px 0 40px;
    font-size: 16px;
    border-bottom: 1px solid #ddd;

    > * {
      width: 100%;
      margin-bottom: 16px;
      display: block;
    }

    label {
      margin-bottom: 8px;
      font-weight: 300;
      font-size: 14px;
    }

    input {
      margin-bottom: 0;
      padding: 8px;
      font-weight: 300;
      font-size: 14px;
      outline-color: var(--primary-color);
    }

    .seleted-users {
      @include flex(row, flex-start, flex-start, wrap);
      margin-bottom: 8px;
      .user {
        padding: 6px 8px;
        background-color: #eee;
        border-radius: 4px;
        margin: 4px;
        @include flexCenter();

        .display-name {
          margin-left: 4px;
          font-size: 10px;
          font-weight: 400;
        }

        .btn-remove {
          margin-left: 4px;
          font-size: 18px;
          cursor: pointer;
        }
      }
    }

    .list-option {
      position: absolute;
      // bottom: calc((200px - 32px) * -1); // - padding of .content
      left: 0;
      max-height: 200px;
      background-color: #fff;
      padding: 8px 0;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      border-radius: 2px;
      overflow: auto;

      .option {
        @include flex(row, flex-start, center);
        padding: 8px 12px;

        &:hover {
          background-color: var(--gray-soft);
        }
      }

      .display-name {
        margin-left: 8px;
        font-size: 14px;
      }
    }
  }

  .error {
    color: red;
    font-size: 13px;
  }

  .action {
    @include flex(row, flex-end, center);
    padding: 16px 0;

    > button {
      font-size: 14px;
      @include flexCenter();
    }

    .btn-cancel {
      padding: 8px 12px;
      border: 1px solid #d5d5d5;
    }
    .btn-ok {
      padding: 8px 12px;
      background-color: var(--primary-color);
      color: #fff;
      margin-left: 8px;
      border: 1px solid var(--primary-color);
    }
  }
}
