.AvatarGroup {
  @include flex(row, flex-start, center);
  padding-top: 4px; /* Fix cut top */
  .Avatar__wrapper {
    &:nth-child(2) {
      position: relative;
      left: -13px;
      z-index: 2;
    }
  }

  .extra-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ddd;
    position: relative;
    left: -23px;
    z-index: 1;
    font-size: 32px;
    color: #fff;
    @include flexCenter();
  }
}
