.ChatPreviewItem {
  @include flex(row);
  cursor: pointer;
  padding: spacing(1.5) spacing(1);

  &:hover {
    background-color: var(--input-color);
    border-radius: 8px;
  }

  &__wrapper {
    margin-left: spacing(1.5);
    flex-grow: 1;
  }

  &__info {
    @include flex(row, space-between, center);

    .user-name {
      max-width: 110px;
      @include textOverflow;
    }
  }

  &__latest-message {
    max-width: 140px;
    margin-bottom: 0;
    margin-top: 8px;
    @include textOverflow;
  }
}
