.ChatInput {
  position: relative;
  width: 100%;
  padding: 16px 0;

  .input {
    padding: 18px;
    padding-right: 142px;
    width: 100%;
    font-size: 15px;
    font-weight: 300;
    border-radius: 12px;
    border: transparent;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: var(--background-color);
    color: var(--text-color);

    &:focus {
      // outline-color: var(--primary-color);
      outline: none;
      box-shadow: 0px 0px 0px 1.2px var(--primary-color);
    }

    &::placeholder {
      color: var(--gray-bold);
      font-weight: 400;
      font-size: 15px;
      @include breakpointDown($md) {
        font-size: 13.5px;
      }
    }
  }

  &__action-group {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    display: flex;

    .btn {
      @include flexCenter();
      cursor: pointer;
      padding: 8px;
    }

    .btn__secondary {
      color: var(--gray-bold);
    }
    .btn__send {
      color: #fff;
      padding: 10px;
      border-radius: 12px;
      background-color: var(--primary-color);
      margin-left: 8px;
    }
  }

  .Picker {
    position: absolute;
    right: 28px;
    bottom: 80px;
    z-index: 9999999;

    .emoji-mart {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      border-radius: 12px;
    }
  }
}
