.FileType {
  @include flex(row, space-between, center);
  padding: spacing(1) 0;

  &__accordion {
    .Accordion__btn {
      margin-bottom: 0;
    }
  }

  &__icon {
    @include flexCenter();
    position: relative;
    font-size: 16px;
    padding: 10px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: currentColor;
      border-radius: 8px;
      opacity: 0.15;
    }
  }

  &__wrapper {
    flex-grow: 1;
    margin-left: spacing(1.5);
  }

  &__info {
    margin-bottom: 0;
    margin-top: spacing(0.5);
  }

  &__btn-expand {
    font-size: 20px;
    transition: all 0.2s;

    // Make icon rotate in the center of icon
    display: flex;

    &.expanded {
      transform: rotate(90deg);
    }
  }
}

.FileType__accordion {
  .room-images {
    object-fit: cover;
    width: 82px;
    height: 82px;
    border-radius: 2px;
    margin: 6px;
  }

  .room-link-container {
    display: flex;
    align-items: center;
    padding-right: 6px;
    padding-left: 4px;
    @include textOverflow;
    span {
      cursor: pointer;
      padding: 8px;
      margin-right: 8px;
      border-radius: 6px;
      background-color: var(--gray-background-color);
      @include flexCenter();
    }
    margin-bottom: 8px;
  }

  .room-link {
    color: var(--text-color);
    font-size: 13px;
    @include textOverflow;
    @include breakpointDown($md) {
      font-size: 12px;
    }
  }

  .room-video {
    display: block;
    max-width: 270px;
    min-height: 150px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: 1px solid var(--gray-border);
  }
}
