.Sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: $sidebar-width;
  background-color: var(--background-color);
  border-right: 1px solid var(--gray-soft);
  @include flex(column, space-between, center);

  @include breakpointDown($sm) {
    top: unset;
    width: 100%;
    background-color: var(--primary-color-background);
  }

  & .brand {
    margin-top: spacing(2);
    @include flexCenter(row);
    @include breakpointDown($sm) {
      display: none;
    }
  }

  & .nav {
    list-style: none;
    padding: 0;
    @include flexCenter(column);
    @include breakpointDown($sm) {
      margin: 0;
      width: 100%;
      flex-direction: row;
      justify-content: space-around;
      padding: 0 16px;

      & .sm-hide {
        display: none;
      }
    }
    &__link {
      position: relative;
      display: block;
      color: var(--gray-bold);
      padding: spacing(1.5);
      margin: spacing(0.5) spacing(1);

      &.active::before {
        content: '';
        position: absolute;
        top: 0;
        right: -12px;
        bottom: 0;
        border-right: 3px solid var(--primary-color);
      }

      @include breakpointDown($sm) {
        &.active::before {
          display: none;
        }
      }

      &.active,
      &:hover {
        color: var(--primary-color);
        background-color: var(--primary-color-background);
        border-radius: $btn-border-radius;
      }

      & > svg {
        font-size: 22px;
      }
    }
  }

  & .user {
    margin-bottom: spacing(2);
    @include breakpointDown($sm) {
      display: none;
    }

    &__avatar {
      $avatar-size: 30px;
      width: $avatar-size;
      height: $avatar-size;
      border-radius: 50%;
    }
  }
}
